@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow:
    0 0 15px 0 rgba(0, 0, 0, 0.20);
  background-color: #ffffff;
}

.main-index,
.main-catalog {
  flex-grow: 1;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  transform: scale(0);
}

.main-header__container {
  display: flex;
  padding: 0 70px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 1200px;
}

.navigation__logo {
  margin-right: 44px;
}

.main-header__logo {
  display: block;
  position: relative;
  z-index: 10;
  margin-bottom: -6px;
}

.navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  margin-right: auto;
}

.navigation__user {
  max-width: 88px;
  gap: 25px;
  margin-right: 32px;
}

.navigation__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  padding: 10px 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  cursor: pointer;
}

.main-header__button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
}

.navigation__item {
  padding: 20px 0 20px;
}

.navigation__user .navigation__item {
  width: 20px;
  height: 20px;
}

.navigation__item-active {
  padding: 19px 0 19px;
  border-bottom: 2px solid #756257;
  position: relative;
  z-index: 10;
  margin-bottom: -1px;
}

.navigation__user .navigation__link {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.navigation__link-search {
  background-image: url("../images/lens.svg");
  min-width: 18px;
  min-height: 18px;
}

.navigation__link-favorite {
  background-image: url("../images/heart.svg");
  min-width: 18px;
  min-height: 17px;
  position: relative;
}

.navigation__favorite {
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  background-color: #7DB54F;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  color: #ffffff;
  top: -13px;
  left: 7px;
}

.welcome__container {
  min-height: 485px;
  background-image:
    url("../images/backgrounds/welcome-background-vector.svg"),
    url("../images/backgrounds/welcome-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 100%;
  background-color: #d5e1ee;
  padding-top: 51px;
  box-sizing: border-box;
}

.welcome__img-text {
  display: block;
  margin: 0 auto;
}

.suggestion__container {
  box-sizing: border-box;
  padding: 69px 274.5px 90px;
  text-align: center;
}

.suggestion__container2 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.suggestion__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}

.suggestion__container2 .suggestion__title {
  margin-bottom: 20px;
}

.suggestion__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.advantages__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 175px;
  position: relative;
}

.advantages__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.advantages__item1,
.advantages__item5 {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
}

.advantages__item2,
.advantages__item3,
.advantages__item4,
.advantages__content {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  box-sizing: border-box;
  &:not(.advantages__content) {
    padding-top: 112.5px;
  }
}

.advantages__image {
  display: block;
  align-self: center;
  height: 385px;
}

.advantages__item2,
.advantages__item4 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item3 {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  position: absolute;
  bottom: -30px;
  left: 57px;
}

.advantages__content .advantages__title::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages__item2:not(.advantages__title),
.advantages__item3:not(.advantages__title),
.advantages__item4:not(.advantages__title) {
  color: #333333;
}

.opportunities__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}

.opportunities__item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.opportunities__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.opportunities__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 102px;
  margin: 0 0 30px;
}

.opportunities__item1 .opportunities__title {
  background-image: url("../images/advantages/house.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.opportunities__item2 .opportunities__title {
  background-image: url("../images/advantages/food.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.opportunities__item3 .opportunities__title {
  background-image: url("../images/advantages/souvenir.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.opportunities__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.search__container {
  box-sizing: border-box;
  padding: 96px 304px;
  text-align: center;
}

.search__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.search__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe__container {
  background-image: url("../images/backgrounds/subscribe-background.jpg");
  background-color: #d5e1ee;
  background-repeat: no-repeat;
  background-size: contain;
  height: 415px;
  text-align: center;
  box-sizing: border-box;
  padding: 96px 258px 0 258px;
}

.subscribe__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe__form {
  display: flex;
  justify-content: center;
}

.subscribe__form input {
  font-size: 18px;
  font-weight: 400;
  line-height: 24;
  width: 412px;
  height: 28px;
  padding: 12px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
}

.subscribe__button {
  background-color: #82B3D3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main-footer__container {
  box-sizing: border-box;
  padding: 45px 70px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 145px;
}

.social__link {
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 10px;
}

.social__item {
  width: 48px;
  height: 40px;
  display: flex;
  align-items: center;
}

.social__link-vk {
  background-image: url("../images/social/vk.svg");
  width: 24px;
  height: 14px;
}

.social__link-telegram {
  background-image: url("../images/social/telegram.svg");
  width: 18px;
  height: 16px;
}

.social__link-youtube {
  background-image: url("../images/social/youtube.svg");
  width: 22px;
  height: 17px;
}

.main-footer__phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}


/* --- --- --- --- --- --- --- */
/*          catalog            */
/* --- --- --- --- --- --- --- */


.filter__container {
  background-image: url("../images/backgrounds/filters-background.jpg");
  background-repeat: no-repeat;
  background-color: #d5e1ee;
  background-size: cover;
  box-sizing: border-box;
  padding: 35px 70px 70px;
}

.filter__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbs__item {
  color: #ffffff;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 21px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__link-home {
  background-image: url("../images/house-breadcrumb.svg");
  width: 12px;
  height: 12px;
}

.breadcrumbs__link-arrow {
  background-image: url("../images/arrow-breadcrumb.svg");
  width: 7px;
  height: 11px;
}

.filters {
  display: flex;
  align-items: start;
  width: 1060px;
}

.filters__group {
  display: inline;
  border: none;
  padding: 0;
  width: 151px;
  margin-left: 0;
}

.filters__group-price {
  width: 288px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 70px;
}

.filters__price-group {
  display: grid;
  grid-template-columns: 143px 143px;
  gap: 2px;
  margin-top: 0;
  margin-bottom: 36px;
}

.filters__price-group label {
  padding-left: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  opacity: .3;
  align-self: center;
}

.filters__price-group label:first-of-type {
  grid-area: 1 / 1 / 2 / 2;
  text-align: end;
  padding-right: 20px;
}

.filters__price-group label:last-of-type {
  grid-area: 1 / 2 / 2 / 3;
  text-align: end;
  padding-right: 20px;
}

.filters__price-group input {
  width: 143px;
  box-sizing: border-box;
  padding: 12px 40px 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  outline: none;
}

.filters__price-group input:first-of-type {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 4px 0 0 4px;
}

.filters__price-group input:last-of-type {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 0 4px 4px 0;
}

.filters__group-price > input {
  width: 287px;
}

.filters__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  margin-top: 0;
  margin-bottom: 32px;
}

.filters__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

.filters__item:not(:last-child) {
  margin-top: 0;
  margin-bottom: 16px;
}

.filters__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
  border: none;
}

.filters__button:first-child {
  margin-top: 56px;
  margin-bottom: 32px;
}

.filters__button-transparent {
  background-color: transparent;
  border: none;
}

.filters__group-buttons {
  display: flex;
  flex-direction: column;
}

.filters__group-infrastructure {
  margin-right: 70px;
}

.filters__group-type {
  margin-right: auto;
}

.gallery-hotels__container {
  box-sizing: border-box;
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sorting__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  padding: 14px 20px;
  border-radius: 4px;
  width: 292px;
}

.sorting__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
}

.sorting__item {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorting__item-active {
  border: 2px solid #000000;
}

.sorting__button {
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.sorting__button-grid {
  background-image: url("../images/sorting/grid.svg");
}

.sorting__button-card {
  background-image: url("../images/sorting/card.svg");
}

.sorting__button-list {
  background-image: url("../images/sorting/list.svg");
}

.catalog-hotels__item {
  width: 340px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px auto min-content 36px 37px;
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "more favorite"
    "stars raiting";
  gap: 16px 20px;
}

.catalog-hotels__image {
  grid-area: image;
}

.catalog-hotels__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 80px;
  position: relative;
}

.catalog-hotels__list::after {
  content: "";
  width: 1060px;
  height: 1px;
  background-color: #E6E6E6;
  position: absolute;
  bottom: -40px;
}

.catalog-hotels__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  grid-area: title;
}

.catalog-hotels__type-house {
  grid-area: type;
}

.catalog-hotels__price {
  grid-area: price;
  justify-self: end;
}

.catalog-hotels__type-house,
.catalog-hotels__price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.catalog__button {
  width: 140px;
  box-sizing: border-box;
}

.link-more {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 26px;
  grid-area: more;
}

.button-favorite {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
  padding: 8px 20px;
  grid-area: favorite;
}

.stars {
  width: 140px;
  height: 37px;
  grid-area: stars;
}

.stars1 {
  background-image: url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.stars2 {
  background-image:
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position:
    0 center,
    24px center;
}

.stars3 {
  background-image:
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position:
    0 center,
    24px center,
    48px center;
}

.stars4 {
  background-image:
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position:
    0 center,
    24px center,
    48px center,
    72px center;
}

.stars5 {
  background-image:
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position:
    0 center,
    24px center,
    48px center,
    72px center,
    96px center;
}

.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  padding: 9px 22px;
  cursor: default;
  grid-area: raiting;
}

.button-favorite-added {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.pagination__item {
  min-width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.pagination__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}

.pagination__item-current {
  background-color: #F2F2F2;
}

.pagination__link-current {
  color: #000000;
}

.pagination__item-more {
  background-color: transparent;
}

.pagination__link-more {
  color: #000000;
}

.subscribe__container-catalog {
  background-image: none;
  background-color: #ffffff;
}

.subscribe__title-catalog {
  color: #000000;
}

.subscribe__text-catalog {
  color: #000000;
}


.subscribe__form-catalog input {
  background-color: #F2F2F2;
}
