@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --main-bg-color: #f2f2f2;
  --button-brown-still-active: #756157;
  --button-brown-hover-focus: #615048;
  --button-blue-still-active: #82B3D3;
  --button-blue-hover-focus: #68A2CA;
  --button-green-still-active: #7DB54F;
  --button-green-hover-focus: #6C9E42;
  --button-find-still: #83B3D3;
  --button-disabled: #E5E5E5;
  --color-active: rgba(255, 255, 255, 0.3);
  --social-still: #83B3D3;
  --social-hover-focus: #68A2CA;
  --social-active: rgba(104, 162, 202, 0.3);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: var(--main-bg-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-index,
.main-catalog {
  flex-grow: 1;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header__container {
  display: flex;
  padding: 0 70px;
}

.navigation {
  display: flex;
  width: 1200px;
  align-items: center;
}

.navigation__logo {
  margin-right: 44px;
}

.main-header__logo {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: -6px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 11px 33px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.navigation__user {
  justify-content: end;
  gap: 11px 23px;
  width: 132px;
  margin-right: 32px;
  padding: 22px 0;
}

.navigation__link {
  padding: 10px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  &:hover,
  &:focus {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
  }
}

.button {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--button-brown-still-active);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.main-header__button {
  min-width: 160px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  transition: all 0.3s ease 0s;
  &:hover,
  &:focus {
    background-color: var(--button-brown-hover-focus);
    transition: all 0.3s ease 0s;
  }
  &:active {
    color: var(--color-active);
    background-color: var(--button-brown-still-active);
    transition: all 0.3s ease 0;
  }
  &:disabled {
    background-color: var(--button-disabled);
    pointer-events: none;
    cursor: default;
  }
}

.navigation__item {
  padding: 20px 0 20px;
}

.navigation__user .navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  box-sizing: border-box;
}

.navigation__item-active {
  position: relative;
  z-index: 1;
  margin-bottom: -1px;
  padding: 19px 0 19px;
  border-bottom: 2px solid #756257;
}

.navigation__user .navigation__link {
  display: inline-block;
  padding: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__link-search {
  min-width: 18px;
  min-height: 18px;
  background-image: url("../images/lens.svg");
}

.navigation__link-favorite {
  position: relative;
  min-width: 18px;
  min-height: 17px;
  background-image: url("../images/heart.svg");
}

.navigation__favorite {
  position: absolute;
  top: -3px;
  right: 1px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 10px;
}

.welcome__container {
  min-height: 485px;
  padding-top: 51px;
  background-image:
    url("../images/backgrounds/welcome-background-vector.svg"),
    url("../images/backgrounds/welcome-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 100%;
  background-color: #d5e1ee;
  box-sizing: border-box;
}

.welcome__img-text {
  display: block;
  margin: 0 auto;
}

.suggestion__container {
  padding: 69px 254px 90px 255px;
  text-align: center;
  box-sizing: border-box;
}

.suggestion__container2 {
  padding: 64px 257px 64px 258px;
}

.suggestion__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.suggestion__container2 .suggestion__title {
  margin-bottom: 20px;
}

.suggestion__text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages__title {
  position: relative;
  width: 175px;
  margin: 0 auto 60px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__item1,
.advantages__item5 {
  display: flex;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages__item2,
.advantages__item3,
.advantages__item4,
.advantages__content {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  box-sizing: border-box;
  &:not(.advantages__content) {
    padding: 114px 84px 85px 84px;
  }
}

.advantages__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.advantages__item2,
.advantages__item4 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item3 {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages__title::after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 57px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages__content .advantages__title::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages__item2:not(.advantages__title),
.advantages__item3:not(.advantages__title),
.advantages__item4:not(.advantages__title) {
  color: #333333;
}

.opportunities__list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.opportunities__item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.opportunities__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.opportunities__title {
  margin: 0 0 29px;
  padding-top: 104px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  background-repeat: no-repeat;
}

.opportunities__item1 .opportunities__title {
  background-image: url("../images/advantages/house.svg");
  background-position: top 1px left 78px;
}

.opportunities__item2 .opportunities__title {
  background-image: url("../images/advantages/food.svg");
  background-position: top 2px left 78px;
}

.opportunities__item3 .opportunities__title {
  background-image: url("../images/advantages/souvenir.svg");
  background-position: top -1px left 83px;
}

.opportunities__text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.search__container {
  padding: 96px 307px 96px 308px;
  text-align: center;
  box-sizing: border-box;
}

.search__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search__text {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.search__button {
  transition: all 0.3s ease 0s;
  &:hover,
  &:focus {
    background-color: var(--button-brown-hover-focus);
    transition: all 0.3s ease 0s;
  }
  &:active {
    color: var(--color-active);
    background-color: var(--button-brown-still-active);
    transition: all 0.3s ease 0s;
  }
  &:disabled {
    background-color: var(--button-disabled);
    pointer-events: none;
    cursor: default;
  }
}

.subscribe__container {
  min-height: 415px;
  padding: 96px 258px 98px 258px;
  text-align: center;
  background-image: url("../images/backgrounds/subscribe-background.jpg");
  background-color: #d5e1ee;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.subscribe__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__text {
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.subscribe__form {
  display: flex;
  justify-content: center;
}

.subscribe__form input {
  width: 412px;
  height: 28px;
  padding: 10px 20px 8px 15px;
  font-size: 18px;
  line-height: 24;
  font-weight: 400;
  background-color: #F2F2F2;
  border: 3px solid transparent;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  &:focus-visible {
    outline: none;
    border: 3px solid #83B3D3;
  }
}

.subscribe__button {
  background-color: var(--button-blue-still-active);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s ease 0s;
  &:hover,
  &:focus {
    background-color: var(--button-blue-hover-focus);
    transition: all 0.3s ease 0s;
  }
  &:active {
    transition: all 0.3s ease 0s;
    background-color: #82B3D3;
    color: var(--color-active);
  }
  &:disabled {
    background-color: var(--button-disabled);
    pointer-events: none;
    cursor: default;
  }
}

.main-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
  box-sizing: border-box;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 145px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}

.social__link {
  padding: 10px 10px;
  & svg {
    display: block;
    transition: all 0.3s ease 0s;
  }
}

.social__link-vk {
  margin-left: -1px;
  margin-top: -1px;
}

.social__link-telegram {
  margin-left: -1px;
  margin-top: -1px;
}

.social__link-youtube {
  margin-left: -2px;
  margin-top: -1px;
}

.social__link:hover svg,
.social__link:focus svg{
  transition: all 0.3s ease 0s;
  fill: var(--social-hover-focus);
}

.social__link:active svg {
  fill: var(--social-active);
}

.main-footer__phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  &:hover,
  &:focus {
    color: #756157;
    transition: all 0.3s ease 0s;
  }
  &:active {
    color: #756157;
    opacity: 0.3;
    transition: all 0.3s ease 0s;
  }
}

.main-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__html-logo {
  display: block;
  &:hover,
  &:focus {
    fill: #756157;
    transition: all 0.3s ease 0s;
  }
  &:active {
    fill: #756157;
    opacity: 0.3;
    transition: all 0.3s ease 0s;
  }
}

/* --- --- --- --- --- --- --- */
/*          catalog            */
/* --- --- --- --- --- --- --- */


.filter__container {
  padding: 35px 70px 70px;
  background-image: url("../images/backgrounds/filters-background.jpg");
  background-repeat: no-repeat;
  background-color: #d5e1ee;
  background-size: cover;
  box-sizing: border-box;
}

.filter__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 41px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbs__item {
  color: #ffffff;
  &:not(:last-child) {
    padding-right: 18px;
    background-image: url("../images/arrow-breadcrumb.svg");
    background-repeat: no-repeat;
    background-size: 8px 11px;
    background-position: right 6px;
  }
}

.breadcrumbs__link {
  display: inline-flex;
  font-size: 16px;
  line-height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__link-home {
  background-image: url("../images/house-breadcrumb.svg");
  width: 13px;
  height: 13px;
}

.filters {
  display: flex;
  align-items: start;
  width: 1060px;
}

.filters__group {
  display: inline;
  width: 151px;
  margin-left: 0;
  padding: 0;
  border: none;
}

.filters__group-price {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  margin-right: 70px;
}

.filters__price-group {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  gap: 2px;
  margin-top: 0;
  margin-bottom: 44px;
}

.filters__price-group label {
  align-self: center;
  padding-left: 3px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.3;
}

.filters__price-group label:first-of-type {
  grid-area: 1 / 1 / 2 / 2;
  text-align: end;
}

.filters__price-group label:last-of-type {
  grid-area: 1 / 2 / 2 / 3;
  text-align: end;
}

.filters__price-group input {
  width: 143px;
  padding: 13px 40px 11px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  box-sizing: border-box;
  appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  &:focus-visible {
    outline: 2px solid #83B3D3;
  }
}

.filters__price-group input:first-of-type {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 4px 0 0 4px;
}

.filters__price-group input:last-of-type {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 0 4px 4px 0;
}

.filters__group-price > input {
  width: 287px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  &:hover,
  &:focus {
    outline: 3px solid #83B3D3;
  }
  &:active {
    outline: 2px solid #83B3D3;
  }
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: -1px;
}

.filters__title {
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.filters__list {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  list-style-type: none;
}

.filters__item:not(:last-child) {
  margin-top: 0;
  margin-bottom: 16px;
}

.filters__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: var(--button-blue-still-active);
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: 0.6;
  }
  & .control__input:focus-visible + .control-mark {
    outline: 3px solid #83B3D3;
  }
  &:active {
    opacity: 0.3;
    transition: all 0.3s ease 0s;
  }
}

.control__input[type="checkbox"]:checked + .control-mark::before,
.control__input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 9px;
  height: 5px;
  border-left: 2px solid #3F5E72;
  border-bottom: 2px solid #3F5E72;
  transform: rotate(-50deg);
  content: "";
}

.control-mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control__input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.filters__button:first-child {
  margin-top: 56px;
  margin-bottom: 32px;
  transition: all 0.3s ease 0s;
  &:hover,
  &:focus {
    background-color: var(--button-blue-hover-focus);
    transition: all 0.3s ease 0s;
  }
  &:active {
    color: var(--color-active);
    background-color: var(--button-blue-still-active);
    transition: all 0.3s ease 0s;
  }
  &:disabled {
    background-color: var(--button-disabled);
    pointer-events: none;
    cursor: default;
  }
}

.filters__button-transparent {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: 0.6;
    transition: all 0.3s ease 0s;
  }
  &:focus-visible {
    background-color: transparent;
    outline: 3px solid #82B3D3;
    transition: background-color 0.3s ease 0s;
  }
  &:active {
    transition: all 0.3s ease 0s;
    opacity: 0.3;
  }
  &:disabled {
    opacity: 0.1;
    pointer-events: none;
    cursor: default;
  }
}

.filters__group-buttons {
  display: flex;
  flex-direction: column;
}

.filters__group-infrastructure {
  margin-right: 70px;
}

.filters__group-type {
  margin-right: auto;
}

.gallery-hotels__container {
  padding: 50px 70px 60px 69px;
  box-sizing: border-box;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sorting__title {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 288px;
  margin-right: 72px;
  padding: 13px 34px 11px 19px;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-image: url("../images/sorting/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: none;
  border-radius: 4px;
  outline: 2px solid #E5E5E5;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  appearance: none;
  &:hover,
  &:focus {
    outline: 2px solid #68A2CA;
    transition: all 0.3s ease 0s;
  }
  &:disabled {
    pointer-events: none;
    outline: 2px solid rgba(0, 0, 0, 0.3);
    background-image: url("../images/sorting/arrow-disabled.svg");
  }
}

.sorting__list {
  display: flex;
  gap: 8px;
  height: 48px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sorting__item-active .sorting__button {
  border: 2px solid #000000;
}

.sorting__button {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  &:hover {
    border-color: #000000;
  }
  &:focus-visible {
    border-color: #68A2CA;
  }
  &:active {
    border-color: #000000;
  }
}

.sorting__button-grid {
  background-image: url("../images/sorting/grid.svg");
}

.sorting__button-card {
  background-image: url("../images/sorting/card.svg");
}

.sorting__button-list {
  background-image: url("../images/sorting/list.svg");
}

.catalog-hotels__item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "more favorite"
    "stars raiting";
  gap: 16px 20px;
  width: 340px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-hotels__image-link {
  grid-area: image;
}

.catalog-hotels__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.catalog-hotels__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 17px 20px;
  margin: 0;
  margin-bottom: 78px;
  padding: 0;
  list-style-type: none;
}

.catalog-hotels__list::after {
  content: "";
  width: 1060px;
  height: 1px;
  background-color: #E6E6E6;
  position: absolute;
  bottom: -39px;
}

.catalog-hotels__title-link {
  grid-area: title;
  font: inherit;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.catalog-hotels__title {
  margin: 0;
}

.catalog-hotels__type-house {
  grid-area: type;
}

.catalog-hotels__price {
  grid-area: price;
  justify-self: end;
}

.catalog-hotels__type-house,
.catalog-hotels__price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.catalog__button {
  width: 140px;
  box-sizing: border-box;
}

.link-more {
  grid-area: more;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease 0s;
  &:hover,
  &:focus {
    background-color: var(--button-brown-hover-focus);
    transition: all 0.3s ease 0s;
  }
  &:active {
    color: var(--color-active);
    background-color: var(--button-brown-still-active);
    transition: all 0.3s ease 0s;
  }
}

.button-favorite {
  grid-area: favorite;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82B3D3;
  transition: all 0.3s ease 0s;
  &:hover,
  &:focus {
    background-color: var(--button-blue-hover-focus);
    transition: all 0.3s ease 0s;
  }
  &:active {
    color: var(--color-active);
    background-color: var(--button-blue-still-active);
    transition: all 0.3s ease 0s;
  }
  &:disabled {
    background-color: var(--button-disabled);
    pointer-events: none;
    cursor: default;
  }
}

.stars {
  grid-area: stars;
  width: 140px;
  height: 37px;
}

.stars1 {
  background-image: url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.stars2 {
  background-image:
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position:
    0 center,
    24px center;
}

.stars3 {
  background-image:
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position:
    0 center,
    24px center,
    48px center;
}

.stars4 {
  background-image:
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position:
    0 center,
    24px center,
    48px center,
    72px center;
}

.stars5 {
  background-image:
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg"),
    url("../images/hotels/star.svg");
  background-repeat: no-repeat;
  background-position:
    0 center,
    24px center,
    48px center,
    72px center,
    96px center;
}

.rating {
  grid-area: raiting;
  padding: 9px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: var(--main-bg-color);
  cursor: default;
}

.button-favorite-added {
  padding: 8px 18px;
  background-color: var(--button-green-still-active);
  transition: all 0.3s ease 0s;
  &:hover,
  &:focus {
    background-color: var(--button-green-hover-focus);
    transition: all 0.3s ease 0s;
  }
  &:active {
    color: var(--color-active);
    background-color: var(--button-green-still-active);
    transition: all 0.3s ease 0s;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item:not(.pagination__item-current):not(.pagination__item-more) .pagination__button {
  &:hover,
  &:focus {
    background-color: var(--button-blue-hover-focus);
    transition: all 0.3s ease 0s;
  }
  &:active {
    color: var(--color-active);
    background-color: var(--button-blue-still-active);
    transition: all 0.3s ease 0s;
  }
}

.pagination__item-current .pagination__button {
  color: #000000;
  background-color: var(--main-bg-color);
  cursor: default;
}

.pagination__button {
  min-width: 60px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: var(--button-blue-still-active);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.pagination__item-more .pagination__button {
  color: #000000;
  background-color: transparent;
}

.subscribe__container-catalog {
  background-image: none;
  background-color: #ffffff;
}

.subscribe__title-catalog {
  color: #000000;
}

.subscribe__text-catalog {
  color: #000000;
}

.subscribe__form-catalog input {
  background-color: var(--main-bg-color);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease 0s;
}

.modal-container-close {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease 0s;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-search {
  width: 717px;
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-search__button-close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 2px;
    background-color: #000000;
    content: "";
  }
  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }
  &::before {
    transform: translateX(-50%) rotate(45deg);
  }
  &:hover,
  &:focus {
    background-color: #E6E6E6;
    transition: all 0.3s ease 0s;
  }
  &:focus-visible {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
    transition: background-color 0.3s ease 0s;
  }
  &:disabled {
    pointer-events: none;
    &:after,
    &:before {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.modal-search__title {
  margin-top: 0;
  margin-bottom: 64px;
  padding-right: 50px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-search {
  display: grid;
  grid-template-columns: 137px 198px 131px 110px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-search__label {
  align-self: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  background-color: #83B3D3;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  &::after {
    position: absolute;
    top: 7px;
    left: 12px;
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    content: "";
  }
  &::before {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 2px;
    height: 9px;
    background-color: #ffffff;
    content: "";
  }
  &:hover,
  &:focus-visible {
    & + .tolltip-text {
      opacity: 1;
      pointer-events: all;
      transition: all 0.5s ease 0s;
    }
  }
}

.tolltip-text {
  position: absolute;
  top: 41px;
  left: 51%;
  width: 256px;
  padding: 20px 19px 23px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  transform: translateX(-50%);
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease 0s;
  &::before {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    border: 9px solid transparent;
    border-bottom: 9px solid #333333;
    content: "";
  }
}

.form-search__input {
  width: 440px;
  padding: 12px 40px 12px 20px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  &:focus-visible {
    outline: 3px solid #83B3D3;
  }
}

.form-search__input-arrival,
.form-search__input-departure {
  grid-area: 1 / 1 / 2 / 3;
}


.form-search__button-input {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  width: 20px;
  height: 20px;
  background-image: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form-search__label-wrapper {
  display: grid;
  grid-template-columns: 1fr 40px;
  width: 440px;
}

.form-search__input-adults,
.form-search__input-children {
  width: 110px;
}

.form-search-hint {
  grid-column: 2 / -1;
  padding: 4px 20px 0;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.form-search__error {
  color: #FF5757;
}

.form-search__button-submit {
  grid-column: 1 / -1;
  margin-top: 48px;
  border-radius: 10px;
  background-color: var(--button-find-still);
  transition: all 0.3s ease 0s;
  &:hover,
  &:focus {
    background-color: var(--button-blue-hover-focus);
    transition: all 0.3s ease 0s;
  }
  &:active {
    background-color: var(--button-blue-hover-focus);
    color: var(--color-active);
    transition: all 0.3s ease 0s;
  }
}

.form-search__input-adults-wrapper,
.form-search__label-children-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 40px 31px 40px;
}

.button-input {
  position: relative;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  &:hover {
    &::after,
    &::before {
      background-color: #000000;
      transition: all 0.3s ease 0s;
    }
  }
  &:focus-visible {
    outline: 3px solid #82B3D3;
    &::after,
    &::before {
      background-color: #000000;
    }
  }
  &:active {
    &::after,
    &::before {
      background-color: rgba(117, 97, 87, 0.3);
    }
  }
}

.button-plus {
  grid-area: 1 / 3 / 2 / 4;
  &::before {
    position: absolute;
    top: 9px;
    left: 3px;
    width: 14px;
    height: 2px;
    background-color: rgba(117, 97, 87, 0.3);
    content: "";
  }
  &::after {
    position: absolute;
    top: 3px;
    left: 9px;
    width: 2px;
    height: 14px;
    background-color: rgba(117, 97, 87, 0.3);
    content: "";
  }
}

.button-minus {
  grid-area: 1 / 1 / 2 / 2;
  &::before {
    position: absolute;
    top: 9px;
    left: 3px;
    width: 14px;
    height: 2px;
    background-color: rgba(117, 97, 87, 0.3);
    content: "";
  }
}

.form-search__input-adults,
.form-search__input-children {
  grid-area: 1 / 1 / 2 / -1;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  text-align: center;
  appearance: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
